$color-primary: #222;
$color-white: #ffff;
$color-secondary: #000000;
$color-stylish: #1098ad;

$text-default: 1.7rem;
$text-small: 1rem;
$text-medium: 1.5rem;
$text-large: 2rem;
$text-xl: 2.5rem;
$text-xxl: 3rem;
$text-xxxl: 4rem;
