.table {
  width: 50rem;
  margin: 0 auto;
  border: 2px solid black;

  &_row {
    &_heading {
      font-size: $text-xl;
      padding: 1rem;
    }

    &_data {
      font-size: $text-large;
      display: contents;
    }
  }
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
